@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "PP Neue Montreal", sans-serif;
}

h1{
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
}

h2 {
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.125;
    letter-spacing: -0.03rem;
}
p{
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 1.5;
}

section{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #e0dfdf;
    color: #0d0d0d;
    overflow: hidden;
}

.intro, 
.outro{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    color: #e0dfdf;
    padding: 2rem;
}
.model-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 100;
}

.header-1{
    position: relative;
    width: 200vw;
    height: 100vh;
    transform: translateX(0%);
}
.header-2 {
    position: fixed;
    top: 0;
    width: 150vw;
    height: 100vh;
    color: #e0dfdf;
    transform: translateX(100%);
    z-index: 2;
}

.header-1,
.header-2 {
    display: flex;
    align-items: center;
    padding: 0 2rem;
}
.header-1 h1,
.header-2 h2{
    width: 100%;
    font-size: 15vw;
    line-height: 1.25;
    letter-spacing: -0.02em;
}
.circular-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0d0d0d;
    clip-path: circle(0% at 50%, 50%);
}

.tooltips {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    display: flex;
    gap: 15rem;
}

.tooltip{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: #e0dfdf;
}
.tooltip:nth-child(2) {
    justify-content: flex-end;
    align-items: flex-end;
}
.tooltip.divider{
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #5f5f5f;
    margin: 0.5rem 0;
    transform: scaleX(0);
}
.tooltip:nth-child(1) .divider {
    transform-origin: right center;
}
.tooltip:nth-child(2) .divider {
    transform-origin: left center;
}

.tooltip .icon {
    font-size: 2.5rem;
    overflow: hidden;
}
.tooltip .description {
    color: #5f5f5f;
}

.tooltip:nth-child(2) .icon,
.tooltip:nth-child(2) .title,
.tooltip .description {
    width: 70%;
}











